################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Api.ASPNET
/EdiFabric.Api.ASPNET/bin/Debug/net6.0
/EdiFabric.Api.ASPNET/obj
/EdiFabric.Api.ASPNET/EdiFabric.Api.ASPNET.csproj.user
/.vs/ProjectEvaluation
/EdiFabric.Api.ASPNET/bin/Release/net6.0
/EdiFabric.Api.ASPNET/EDI
/EdiFabric.Api.ASPNET/token.txt
/.vs
